.u-flex {
    display: flex;
}

.u-justify-between {
    justify-content: space-between;
}

.u-inline-flex {
    display: inline-flex;
}

.u-mb-0 {
    margin-bottom: 0 !important;
}

.u-mb-1 {
    margin-bottom: 20px !important;
}

.u-mb-2 {
    margin-bottom: 30px !important;
}

.u-h1 {
    @include t1;
}

.u-h2 {
    @include t2;
    @include mq($screen-m, max) {
        @include t4;
    }
}

.u-h3 {
    @include t3;
}

.u-h4 {
    @include t4;
}

.u-h5 {
    @include t5;
}

.s-only {
    @include mq($screen-m, min) {
        display: none;
    }
}