.c-btn {
    display: inline-flex;
    align-items: center;
    padding: 9px 40px;
    border: 1px solid orange;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    transition: $default-transition;
    cursor: pointer;
    @include s2;
    &--primary {
        background: orange;
        color: $white;
        &:hover {
            background: $brand-orange;
            color: $white;
            border-color: $brand-orange;
        }
    }
    &--secondary {
        background: transparent;
        color: $white;
        border-color: $white;
        &:hover {
            border-color: $brand-orange;
            color: $brand-orange;
        }
    }
}