.c-btn {
    display: inline-flex;
    align-items: center;
    padding: 12px 40px;
    border: 2px solid $brand-orange;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    transition: $default-transition;
    cursor: pointer;
    &--primary {
        background: $brand-orange;
        color: $white;
        &:hover {
            background: transparent;
            color: $brand-orange;
            border-color: $brand-orange;
        }
    }
    &--secondary {
        background: transparent;
        color: $white;
        border-color: $white;
        &:hover {
            border-color: $brand-orange;
            color: $brand-orange;
        }
    }
}