.c-icon-section {
    display: flex;
    justify-content: space-between;
    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0;
        text-align: center;
    }
    &__btn {
        margin-top: auto;
    }
    @include mq($screen-m, max) {
        flex-direction: column;
        gap: 40px;
    }
}