.c-partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    &__img {
        width: 240px;
    }
    @include mq($screen-m, max) {
        gap: 20px;
    }
}