.l-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    @include mq($screen-s, max) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.c-section {
    padding: 60px 0;
    color: $white;
    &--white {
        background: $white;
        color: $brand-black;
    }
    &--center {
        text-align: center;
    }
    &__row {
        &:not(:last-child) {
            margin-bottom: 48px;
        }
        width: 70%;
        margin: 0 auto;
    }
}